body {
    background-color: #cc74b5 !important;
    background: linear-gradient(180deg, rgba(204, 116, 181, 1) 0%, rgba(36, 99, 135, 1) 75%);
}

a.search-result.active,
a.search-result:hover {
    background-color: var(--bs-list-group-active-bg) !important;
}
