.morning {
    background-color: #f4c2c2 !important;
}

.day {
    background-color: #87ceeb !important;
}

.evening {
    background-color: #ff8c42 !important;
}

.night {
    background-color: #1a2238 !important;
}

a.search-result.active,
a.search-result:hover {
    background-color: var(--bs-list-group-active-bg) !important;
}

.form-control.text-bg-dark::placeholder {
    color: var(--bs-dark-text-emphasis);
}
