body {
    background-color: #f4c2c2;
}

a.search-result.active,
a.search-result:hover {
    background-color: var(--bs-list-group-active-bg) !important;
}

.form-control.text-bg-dark::placeholder {
    color: var(--bs-dark-text-emphasis);
}
