.morning {
    background-color: #f4c2c2 !important;
}

.day {
    background-color: #87ceeb !important;
}

.evening {
    background-color: #ff8c42 !important;
}

.night {
    background-color: #1a2238 !important;
}

.container {
    max-width: 540px !important;
}

span.badge.text-bg-secondary {
    background-color: transparent !important;
    color: var(--bs-dark-text-emphasis) !important;
    border: 1px solid;
    border-color: var(--bs-dark-border-color);
}

#map {
    height: 100vh !important;
    width: 100vw;
}

.map-route {
    margin: 0 !important;
    padding: 0 !important;
}
