.morning {
    background-color: #f4c2c2 !important;
}

.day {
    background-color: #87ceeb !important;
}

.evening {
    background-color: #ff8c42 !important;
}

.night {
    background-color: #1a2238 !important;
}

.container {
    max-width: 540px !important;
}

.latest-observations span.badge.text-bg-secondary {
    background-color: transparent !important;
    color: var(--bs-dark-text-emphasis) !important;
    border: 1px solid;
    border-color: var(--bs-dark-border-color);
}

.hourly-forecast .list-group-item:first-child {
    padding-top: 10px !important;
}

.hourly-forecast .list-group-item:last-child {
    padding-bottom: 10px !important;
}

.btn.btn-light.btn-lg {
    border: 3px solid rgba(0, 0, 0, 0.4) !important;
}

.forecast-chart text {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#map {
    height: 100svh !important;
    width: 100vw;
}
